[Unit]
Description=Little Lines Documentation

[Container]
ContainerName=little-lines-docs
Image=little-lines-docs
PublishPort=8000:80

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target